<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"
    />
    <title>Courses</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light rounded">
      <div class="container-fluid">
        <a class="navbar-brand" href="/user/home">University CMS</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample09"
          aria-controls="navbarsExample09"
          aria-expanded="false"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample09">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a
                class="nav-link active"
                aria-current="page"
                href="/user/schedule"
                >Schedule</a
              >
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                >University structure</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/user/audiences">Audiences</a>
                </li>
                <li><a class="dropdown-item" href="/user/groups">Groups</a></li>
                <li>
                  <a class="dropdown-item" href="/user/courses">Courses</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/user/teachers">Teachers</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/user/students">Students</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/user/lessons_times"
                    >Lessons times</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <a href="/perform_logout"
          ><button class="btn btn-outline-primary">Logout</button></a
        >
      </div>
    </nav>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>id</th>
          <th>Name</th>
          <th>Description</th>
          <th
            th:if="${authority ==
            T(com.foxminded.bohdansharubin.universitycms.models.Roles).ROLE_ADMIN.authority}"
          >
            <a th:href="@{/user/edit-course}"
              ><button class="btn btn-success">Add new course</button></a
            >
          </th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="course : ${courses}">
          <td th:text="${course.id}"></td>
          <td th:text="${course.name}"></td>
          <td th:text="${course.description}"></td>
          <td
            th:if="${authority ==
            T(com.foxminded.bohdansharubin.universitycms.models.Roles).ROLE_ADMIN.authority}"
            class="d-flex flex-row"
          >
            <form
              action="/user/edit-course"
              th:object="${courseDTO}"
              th:method="post"
            >
              <input type="hidden" name="id" th:value="${course.id}" />
              <input type="hidden" name="name" th:value="${course.name}" />
              <input
                type="hidden"
                name="description"
                th:value="${course.description}"
              />
              <input type="submit" value="Edit" class="btn btn-primary" />
            </form>
            <form
              th:action="@{/user/delete-course}"
              th:method="delete"
            >
              <input type="hidden" name="id" th:value="${course.id}" />
              <input type="submit" value="Delete" class="btn btn-danger" />
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="container">
      <footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top">
        <div class="container d-flex justify-content-center">
          <p class="col-md-4 mb-0 text-muted">&copy; 2022 Bohdan Sharubin</p>
        </div>

        <ul class="container-fluid d-flex nav justify-content-center">
          <li class="nav-item">
            <a href="/user/home" class="nav-link px-2 text-muted"
              >University CMS</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/schedule" class="nav-link px-2 text-muted"
              >Schedule</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/audiences" class="nav-link px-2 text-muted"
              >Audiences</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/courses" class="nav-link px-2 text-muted">Courses</a>
          </li>
          <li class="nav-item">
            <a href="/user/groups" class="nav-link px-2 text-muted">Groups</a>
          </li>
          <li class="nav-item">
            <a href="/user/teachers" class="nav-link px-2 text-muted"
              >Teachers</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/students" class="nav-link px-2 text-muted"
              >Students</a
            >
          </li>
          <li class="nav-item">
            <a href="/user/lessons_times" class="nav-link px-2 text-muted"
              >Lessons times</a
            >
          </li>
        </ul>
      </footer>
    </div>

    <script
      th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"
    ></script>
  </body>
</html>
